/* Space out content a bit */
html {
    overflow-y: scroll;
}

body {
    min-height: 100vh;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.46rem;
    color: #2a2a2a;
}

h1 {
    font-size: 1.5rem;
    margin-bottom: 2.08rem;
    font-weight: 700;
}

h2 {
    margin-top: 2.08rem;
    font-size: 1.1875rem;
}

h3, h4, h5 {
    font-size: 1.1rem;
}

p {
    margin-bottom: 1.39rem;
}
ul {
    margin-bottom: 1.39rem;
}

a {
    color: #07a; /*#1F89BA;*/
}

.list-group {
    margin-bottom: 1.5rem;
}

a.list-group-item {
    color: #222;
}

[v-cloak] {
    color: red;
}

.layout-default {
    min-height: 100vh;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 1rem;
    padding-left: 1rem;
}

/* Custom page header */
.header {
    background-color: #5fd09d; /*#4fc08d;*/
    margin-bottom: 30px;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
}

/* Custom page footer */
.footer {
    padding-top: 4rem;
    padding-bottom: 4rem;
    color: #4c5058;
    background-color: #F6F7F9;
    font-size:14px;
    margin-top: 3rem;
}

/* Customize container */
@media (min-width: 48em) {
    .container {
    }
}
.container-narrow > hr {
    margin: 2rem 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 3rem;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}


/* Login */
body.login {
    background-color: #eee;
}

.form-signin {
    max-width: 330px;
    padding: 80px 15px 15px 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar-expand-lg .navbar-nav .nav-link {
    background-color: rgba(0,0,0,0.125);
    color: white;
    font-weight: bold;
    margin-left: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 2px;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    background-color: rgba(0,0,0,0.2);
}

.navbar-brand {
    color: #fff;
    font-size: 2.2rem;
    font-weight: 400;
    text-shadow: 0 1px #3fb07d;
}
.navbar-brand:hover {
    color: #fff;
}


.articles__search {
    margin-bottom: 2rem;
}
.articles__searchfield {
    background-color: #fafbfc;
}

.paging-text {
    color: #777;
    font-size: 0.9rem;
}

.aside-sort {
    margin-bottom: 1rem;
}

.aside-sort__title {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.125rem;
}

.aside-tags {
    margin-bottom: 1rem;
}

.aside-tags__title {
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.125rem;
}

.content pre {
    margin-top: 1.5rem;
    margin-bottom: 1.5rem;
}

.badge-secondary {
    background-color: #a6aeb6;
}

.token.operator, .token.entity, .token.url, .language-css .token.string, .style .token.string {
    background: none;
}

.article__ruler {
    margin: 2rem 0;
}

.article__content {
    margin-bottom: 1rem;
}

.article__tags {
    margin: 2rem 0;
}

pre[class*="language-"] {
    margin: 1.5rem 0;
    padding: 1.39rem;
}

.actions {
    background-color: #f6f6f7;
    margin-top: 2rem;
    padding: 1rem;
}

.actions__title {
    display: inline;
}

.actions__button {
    margin-left: 0.5rem;
}

.actions__button:first-child {
    margin-left: 0;
}

.container {
    /*outline: 1px solid red;*/
}

@media (min-width: 576px) {
    .container-content . {
        /*outline: 1px solid blue;*/
    }
}
