/* Space out content a bit */
html {
    overflow-y: scroll;
}

body {
    min-height: 100vh;
}

.layout-default {
    min-height: 100vh;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-right: 1rem;
    padding-left: 1rem;
}

/* Custom page header */
.header {
    background-color: #f5f5f6;
    height: 165px;
    margin-bottom: 30px;
    background-image: url(https://www.team.jobs/Img/header_enterprises.jpg)
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 3rem;
}

/* Custom page footer */
.footer {
    padding-top: 2rem;
    padding-bottom: 2rem;
    color: #4c5058;
    background-color: #F6F7F9;
    font-size:14px;
    margin-top: 3rem;
}

/* Customize container */
@media (min-width: 48em) {
    .container {
    }
}
.container-narrow > hr {
    margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: .05rem solid #e5e5e5;
}
.jumbotron .btn {
    padding: .75rem 1.5rem;
    font-size: 1.5rem;
}

/* Supporting marketing content */
.marketing {
    margin: 3rem 0;
}
.marketing p + h4 {
    margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-right: 0;
        padding-left: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 2rem;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}


/* Login */
body.login {
    background-color: #eee;
}

.form-signin {
    max-width: 330px;
    padding: 80px 15px 15px 15px;
    margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
    margin-bottom: 10px;
}
.form-signin .checkbox {
    font-weight: 400;
}
.form-signin .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;
}
.form-signin .form-control:focus {
    z-index: 2;
}
.form-signin input[type="text"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.navbar-nav .nav-item {

}

.navbar-nav .nav-link {
}

.navbar-expand-lg .navbar-nav .nav-link {
    background-color: rgba(255,255,255,0.8);
    color: #4c5058;
    font-weight: bold;
    margin-left: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    border-radius: 2px;
}

.navbar-expand-lg .navbar-nav .nav-link:hover {
    background-color: #fff;
}

.navbar-brand {
    color: #fff;
    font-size: 4rem;
    font-weight: bold;
    text-shadow: 0 1px #4c5058;
}
.navbar-brand:hover {
    color: #fff;
}
